.banner {
  background-image: url('mars.jpg');
  background-size: cover;
  height: 200px;
}

.app-container {
  display: flex;
  padding: 20px;
}

.app-title {
  font-size: 2rem;
  padding: 20px;
  color: #67a8da;
  text-transform: uppercase;
}

.app-execution-container {
  flex: 0 0 75%;
}

.app-execution-result {
  flex: 1;
}

.app-input-box {
  background-color: #F0FFFF;
  resize: none;
  width: 95%;
  padding-left: 20px;
  padding-top: 10px;
  color: #67a8da;
  border: solid 2px #67a8da;
  height: 200px;
  border-radius: 10px;
}

.app-simulate > button {
  float: right;
  cursor: pointer;
  color: #fff;
  background-color: #67a8da ;
  text-align: center;
  user-select: none;
  border: 1px solid #67a8da;
  padding: .375rem .75rem;
  font-size: .8rem;
}
